@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(http://fonts.googleapis.com/earlyaccess/sawarabigothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hannari.css);

.font1 {
  font-family: 'Hannari', serif;
  font-size: 12px;
  line-height: 22px;
}

body{
	width:auto;
	height: 1310px;
	padding: 0;
	min-width: 600px;
	margin-left: 0px;
	margin-right: 0px;
}

.header{
	width: 1040px;
	height: 132px;
	padding-bottom: 20px;
	margin: 10px auto;
	border:50px;
}

.menu{
	margin: 0 auto;
	float: center;
	list-style: none;
	line-height: 32px;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: rgba(251,224,224,1);
	text-decoration: underline;
}

.menu li{
	/*float: right;*/
	position: fixed;
	left: 10%;
	margin: 30% 70px;
	font-size: 15px;
	font-weight:300;
	line-height: 32px;
}
.menu l2i{
	position: fixed;
	right: 10%;
	margin: 30% 70px;
	font-size: 15px;
	font-weight:300;
	line-height: 32px;
}


.main{
	width: 600px;
	height: 849px;
	margin: 0 auto;
	margin-top: 100px;
	background-color: white;
	/*background: #ccc url(100.png) center top;*/
}

.demo-box-fix{
	color: white;
	background: rgba(60,60,60,1);
	/*width: 30px;*/
	height: 30px;
	position: fixed;
	bottom: 96.8%;
	left: 90%;
	border-radius: 20px;
	line-height: 30px;
	text-align: center;
	font-weight: bolder;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-weight: bold;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}

demo-box-fix:hover{
	color: white;
	background: rgba(60,60,60,1);
	/*width: 30px;*/
	height: 30px;
	position: fixed;
	bottom: 96.8%;
	left: 90%;
	border-radius: 20px;
	line-height: 30px;
	text-align: center;
	font-weight: bolder;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-weight: bold;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.nav{
	height: 48px;
	width: 100%;
	background: url(photo.jpg) no-repeat 29.8% center,
				rgba(60,60,60,1);
	color: white;
	background-size: 30;
	/*padding: 10px 0px;*/
	overflow: hidden;
	/*margin-bottom: 200px;*/
	position: fixed;
	bottom: 0;
	/*left: 10px;*/
	line-height: 65px;
	text-align: center;

	border-radius: 6px 6px 0px 0px;
	width: 100%
	text-align:center;
	/*box-shadow:*/
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
} 

h1:hover{
	height: 48px;
	width: 100%;
	background: url(photo.jpg) no-repeat 29.8% center,
				rgba(30,30,30,1);
	color: white;
	background-size: 30;
	/*padding: 10px 0px;*/
	overflow: hidden;
	/*margin-bottom: 200px;*/
	position: fixed;
	bottom: 0;
	/*left: 10px;*/
	line-height: 65px;
	text-align: center;

	border-radius: 6px 6px 0px 0px;
	width: 100%
	text-align:center;
	/*box-shadow:*/

}
